.container {
  margin: 45px auto;
  margin-right: 5%;
  margin-left: 5%;
  max-width: 100%;
}
.wraaper-select {
  padding: 12px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.text-transaction {
  line-height: 31px;
  margin-left: 14px;
}
.display-flex {
  display: flex;
}
.input-trip-financials {
  margin-left: 36px;
  height: 29px;
}
.input-trip-financials input {
  height: 100%;
  text-align: right;
  outline: none;
}
.css-b62m3t-container {
  width: 200px;
}
.item {
  padding-top: 18px;
}
.item-content-header {
  text-align: right;
  padding-right: 14px;
  line-height: 39px;
  font-weight: bold;
}
.content {
  text-align: right;
  margin-top: 12px;
}
.trip-financials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  padding-top: 11px;
}
.border-bottom {
  border-bottom: 1px solid #aaa;
  padding-bottom: 12px;
}
.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 91%;
}
@media screen and (max-width: 710px) {
  .input-trip-financials {
    margin-left: 22px;
    height: 29px;
    position: absolute;
    top: 61px;
  }
  .input-trip-financials input {
    width: 191px;
    margin-left: -21px;
  }
  .navbar {
    height: 110px;
  }
  .item {
    padding-top: 81px;
  }
}
@media screen and (max-width: 460px) {
  .navbar {
    height: 120px;
  }
  .all-transactions {
    position: absolute;
    top: 95px;
    left: 35%;
  }
}
